<div class="fill-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
    <div class="center-block" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
        <div class="info-block" fxLayout="row" fxLayoutAlign="start stretch">
            <sny-clock></sny-clock>
            <div fxFlex></div>
            <sny-weather></sny-weather>
        </div>
        <sny-search-bar></sny-search-bar>
    </div>
    <div class="cards-grid">
        <sny-links-list 
            *ngFor="let item of navigationItems" 
            [title]="item.title"
            [items]="item.items"></sny-links-list>
    </div>
</div>